/* @media only screen and (max-width: 1155px) and (min-width: 500){ */
    .course-snapshot{
      width: 90%;
      padding-top: 1.5rem;
      padding-bottom: 0rem;
    }

    .navbar-brand{
        font-size: 2.7rem;
    }
  
    .rmar{
      margin-left: 16px;
    }
  
    .padding-2{
      padding-left: 125px;
      padding-right: 112px;
    }
  
    .padding-3{
      padding-left: 127px;
      padding-right: 125px;
    }
  
    .padding-20{
    padding-left: 10px;
    padding-right: 10px;
    }
  
    .padding-lr{
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .padding-30{
      padding-right: 10px;
      padding-left: 10px;
    }
  

    .mw {
      min-width: 448px;
    }

    .lmar{
      margin-left: 100px;
      margin-left: 0;
    }
  
    .bonus{
        width: 33vw;
        height: 18vh;
    }
  
    .bio-subheader{
      padding-top: 5%;
    }
  
    .pd{
      margin-top: 3%;
    }
  
    .toolkit-section{
      width: 80%;
    }
  
    .toolkit-heading{
      font-size: 2.5rem;
    }
  
    .syllabus-section{
      width: 100%;
    }
  
    .syllabus-image{
      padding-left: 12%;
    }
    .hero-heading{
      font-size: 4rem;
    }
    .heading-subtext{
      font-size: 2rem;
    }
    h4{
      font-size: 1.7rem;
    }
    .header-btn{
      font-size: 2rem;
    }
    .header-btn1{
      font-size: 2rem;
    }
    p{
      font-size: 1.3rem;
    }
    #introduction{
      padding: 7% 0 18%;
    }
    .support-subheader{
      font-size: 1.7rem;
    }
    .support-para{
      width: 85%;
      font-size: 2rem;
    }
   
    .fsize{
      font-size: 2.5rem;
    }
  
    .psize{
      font-size: 2rem;
    }
  
    .fs1rem{
      font-size: 2rem;
    }
    .toolkit-text{
      font-size: 2rem;
    }
    .syllabus-subtext{
      font-size: 2rem;
      width: 80%;
    }
    .course-text{
      font-size: 2.5rem;
    }
  
    .calender-size{
      margin-left: -8px;
      height: 192px;
    }
    .calender-size2{
      margin-left: -8px;
      height: 192px;
    }
    .bonus-header{
      width: 100%;
      padding: 2%;
    }
    .bio-subheader{
      font-size: 1.7rem;
    }
    .faq-header{
      font-size: 2.5rem;
    }
  /* } */
  