html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}


* {
    padding: 0;
    box-sizing: border-box;
    margin: 0; 
}

/* @font-face {
    font-family: 'Classica Pro';
    src: url();
} */

body{
    font-family: 'Inter', 'Montserrat', sans-serif;;
}

#wrapper{
    margin-left:auto;
    margin-right:auto;
    width:100vw;
}

.wrapper{
    width: 100vw;
    margin: 0 auto;
}

.hero-image{
    flex-shrink: 1;
}

/* header */
#hero{
    /* background-color: #fffbf2; */
    background-image: linear-gradient(#fffbf2 0%, #fffbf2 85.65%, #04000E 0%, #04000E 14.45%);
    box-shadow: 4px 0px 36px rgba(49, 49, 49, 0.4);
    /* height: 100vh; */
}

.header-container{
    display: flex;
    flex-wrap: wrap;
}

header h1{
    font-family: Classica Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.9);
    width: 559px;
    height: 50px;
}

.h-text{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;

    letter-spacing: 0.5px;

    color: rgba(0, 0, 0, 0.9);
    width: 559px;
    height: 144px;

}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8%;
    flex-wrap: wrap;
}

header h5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.1px;
    background: rgba(128, 102, 1, 0.25);
    border: 1px solid #BB9A16;
    box-sizing: border-box;
    border-radius: 8px;
    width: 185px;
    height: 33px;
}
.subtext-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.chapter1-subtext{
    font-family: Inter;
    /* font-style: italic; */
    font-weight: normal;
    font-size: 16px;
    line-height: 135%;
    padding-left: 20px;

    letter-spacing: 0.5px;

    color: rgba(0, 0, 0, 0.9);
}

.dp{
    width: 85px;
    height: 42px;
}

.header-btn-txt{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 135%;
    
    letter-spacing: 1.25px;
    
    color: rgba(60, 23, 23, 0.9);
}

.header-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    width: 215px;
    height: 43px;
    margin-top: 3%;
    background: #FFD426;
    border-radius: 24px;
    margin-bottom: 20px;
}

header p{
    margin-bottom: 0;
}

.course-snapshot{
    width: 1314px;
    height: 155px;
    background: linear-gradient(90.8deg, #B3FBC7 0%, #FCFFDA 100%);
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .snapshot-row{
    width: 1082px;
    height: 53px;
} */

.snapshot-para{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 135%;
    letter-spacing: 0.1px;

    color: rgba(0, 0, 0, 0.9);
}

.mhero-bottom{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 135%;
    letter-spacing: 0.15px;

    color: rgba(0, 0, 0, 0.9);
}

.flex-container{
    width: 80%;
    height: 126px;
    margin: 0 auto;
    /* padding-top: 2.5%; */
    background: linear-gradient(90.8deg, #B3FBC7 0%, #FCFFDA 100%);
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    bottom: 40px;
    flex-wrap: wrap;
}

.child{
    flex: 1 1 200px;
    margin: 30px;
}

/* Chapter 2 */

#chap2{
    background: #04000E;

}

.container-chap2{
    width: 100vw;
    margin: 0 auto;
    padding-left: 64px;
    padding-top: 178px;
}

.chapter2-header{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.9);
}

.chapter2-header h1 {
    width: 100vw;
    padding-right: 16%;
    height: 100px;
    font-family: Termina;
    font-style: normal;
    font-weight: 600;
    font-size: 43px;
    line-height: 130%;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 68px;
}

.chapter2-header strong{
    color: #FFD426;
}

.grid-container{
    display: grid;
    margin-right: 10%;
    grid-template-columns: 2fr 1fr 1fr;
    grid-auto-rows: minmax(219px, auto);
    grid-gap: 48px;
    justify-content: space-around;
    padding-bottom: 386px;
}

.grid-item1{
    font-family: Classica Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.9);
}

.grid-item2, .grid-item3{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 145%;
    letter-spacing: 0.5px;
    padding-right: 8%;
}

/* chapter 3 */

#chap3{
    background: #04000E;
    color: rgba(255, 255, 255, 0.9);
}

.chap3-header h1{
    font-family: Classica Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 130%;
    text-align: center;
    color: #EDF0F1;
}

/* scroll section */
.pause{
    height: 400vh;
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
}

.image-title{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
}

.head-text{
    font-family: Classica Pro;
    font-style: italic;
    font-weight: normal;
    font-size: 28px;
    line-height: 130%;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
}

.p-text{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.9);
}

.about-pages{
    width: 50%;
}

.about-pages div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.about-pages div>p {
    width: 70%;
    font-size: 18px;
    line-height: 30px;
}

/* chapter 4 */

#chap4{
    background: #04000E;
    color: rgba(255, 255, 255, 0.9);
}

.chap-header{
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 98px;
}

.chap4-header{
    font-family: Termina;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.9);
}

.chap4-subtext{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255,0.9)
}

.grid-container2{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-auto-rows: minmax(400px, auto);
    grid-gap: 20px;
    justify-content: space-around;
    padding-left: 20%;
    padding-right: 20%;
    /* padding-bottom: 386px; */
}

.grid-image{
    width: 400px;
    height: 275px;
    border: 4px solid rgb(85, 79, 24);
    border-radius: 20px 20px;
}

.grid-text{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0.15px;
    color: rgba(255, 255, 255, 0.9);
}

/* chapter 5 */

#course-plan{
    background: #04000E;
    color: rgba(255, 255, 255, 0.9);
}

.course-flex-container{
    padding-top: 359px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.course-header{
    font-family: Termina;
    font-style: normal;
    font-weight: 600;
    font-size: 43px;
    line-height: 130%;
    color: rgba(255, 255, 255, 0.9);
}

.course-subtext{
    width: 563px;
    height: 37px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 48px;
}

.subcontainer{
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    width: 600px;
    height: 628px;
}

.subcontainer h3{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 135%;
    letter-spacing: 0.15px;
    color: rgba(255, 255, 255, 0.9);
}

.subcontainer p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.9);
}

.element{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.props{
    width: 35px;
    height: 35px;
    margin-right: 42px;
}

/* bio section */
#bio{
    background: #04000E;
    color: rgba(255, 255, 255, 0.9);
}

.bio-container{
    padding-top: 20%;
    padding-left: 15%;
    padding-right: 15%;
}

.bio-section{
    /* width: 641.24px;
    height: 456.65px; */
    display: flex;
    flex-direction: row;
    height: 530px;
    border-radius: 2rem 2rem;
    justify-content: flex-start;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
}

.bio-img{
    padding-top: 2px;
    width: 499px;
    height: auto;
    border-radius: 2rem 0 0 2rem;
}

.bio-section span{
    padding-left: 40px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.1px;
    text-transform: uppercase;

    color: #000000;

}

.bio-section h1{
    padding-left: 40px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 135%;
    letter-spacing: 0.25px;
    color: #BB9A16;
}

.bio-section p{
    padding-left: 40px;
    margin-right: 50px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.25px;
    color: #000000;
}

.bio-section button{
    margin-top: 21px;
    margin-left: 40px;
    width: 180px;
    height: 45px;
    left: 564.24px;
    top: 275px;
    font-size: 16px;
    background: #04000E;
    border-radius: 33.3323px;
    color: rgba(255, 255, 255, 0.9); ;

}

/* summary */
#summary{
    background: #04000E;
    color: rgba(255, 255, 255, 0.9);
}

.summary-container{
    padding-top: 20%;
    padding-left: 10%;
    padding-bottom: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.summ-heading h2{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 135%;
    letter-spacing: 0.25px;
    color: rgba(255, 255, 255, 0.9);
}

.summ-heading p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.9);
}

.rmar{
    margin-right: 10px;
}

.points{
    padding-top: 48px;
    padding-left: 2%;
    line-height: 43px;
}

@media all and (max-width: 1294px) {
    .flex-container{
        height: auto;
    }
}
@media all and (max-width: 768px) {
    .hero-image1{
        width: 500px;
        height: 500px;
    }
}

@media all and (max-width: 1304px) {
    .grid-container{
       grid-template-columns: 1fr 1fr 1fr;
    }
}

@media all and (max-width: 1284px) {
    .grid-container{
       grid-template-columns: 1fr 1fr;
       padding-right: 7%;
    }
}

@media all and (max-width: 1182px) {
    .grid-container{
       grid-template-columns: 1fr;
       padding-right: 7%;
    }
}
@media all and (max-width: 1326px) {
    .hero-content h5{
       margin-top: 20%;
    }
}

@media all and (max-width: 894px) {
    .grid-container2{
       grid-template-columns: 1fr;
    }
}